@import 'lib/semantic.less';

@font-face {
  font-family: 'Simplifica';
  src: url('fonts/simplifica_typeface-webfont.eot');
  src: url('fonts/simplifica_typeface-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/simplifica_typeface-webfont.woff2') format('woff2'),
  url('fonts/simplifica_typeface-webfont.woff') format('woff'),
  url('fonts/simplifica_typeface-webfont.ttf') format('truetype'),
  url('fonts/simplifica_typeface-webfont.svg#simplificasimplifica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@offWhite: #D8E4B8;
@orange: #D55B43;
@red: #BD2843;
@purple: #3E3644;

body {
  overflow-x: hidden;
  background-color: @red;
}

#particle-container {
  //background-color: @purple !important;
  background: radial-gradient(ellipse at center, #3e3644 0%, #311f3a 47%, #1d0c23 100%) !important;
  overflow: hidden;
  position: relative;
  height: 70vh;
}

#thanks-container {
  //background-color: @purple !important;
  background: radial-gradient(ellipse at center, #3e3644 0%, #311f3a 47%, #1d0c23 100%) !important;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#particles-js{
  position: absolute;
  height: 80vh;
  width: 100%;
  z-index: 25;
}

.content-a {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  z-index: 1;
}

.content-a2 {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}


#header-text {
  font-family: 'Simplifica', Arial, sans-serif;
  position: absolute;
  text-align: center;
  letter-spacing: 5px;
  color: @offWhite;
  font-size: 3.5em;
  margin-top: -120px;
  padding-bottom: 15px;
  text-shadow: 2px 2px #333;
  width: 100%;
  height: 70vh;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
}

#header-text-thanks {
  font-family: 'Simplifica', Arial, sans-serif;
  position: absolute;
  text-align: center;
  letter-spacing: 5px;
  color: @offWhite;
  font-size: 3.5em;
  margin-top: -250px;
  text-shadow: 2px 2px #333;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
}

#slant-container-1{
  z-index: 50;
  margin-top: -25px;
}

#left-angle-header {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @red;
  z-index:50;
  transform: rotate(-355deg) scale(2.1) skew(-355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#mid-header {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  z-index:50;
}

#right-angle-header {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @red;
  z-index:50;
  //background-color: rgba(255, 0, 0, 0.3);
  transform: rotate(355deg) scale(2.1) skew(355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#text-block-1{
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 50px;
}

.content-header {
  font-family: 'Simplifica', Arial, sans-serif;
  text-align: center;
  letter-spacing: 5px;
  color: @offWhite;
  font-size: 2.8em;
  text-shadow: 2px 2px #333;
}

hr.grad-line {
  border: 0;
  width: 30%;
  height: 1px;
  margin-top: -5px;
  background-image: -webkit-linear-gradient(left, rgba(216, 228, 184, 0), rgba(216, 228, 184, 0.75), rgba(216, 228, 184, 0));
  background-image: -moz-linear-gradient(left, rgba(216, 228, 184, 0), rgba(216, 228, 184, 0.75), rgba(216, 228, 184, 0));
  background-image: -ms-linear-gradient(left, rgba(216, 228, 184, 0), rgba(216, 228, 184, 0.75), rgba(216, 228, 184, 0));
  background-image: -o-linear-gradient(left, rgba(216, 228, 184, 0), rgba(216, 228, 184, 0.75), rgba(216, 228, 184, 0));
}


.top-quote{
  font-size: 1.5em;
  padding-top: 25px;
  color: @offWhite;
  font-weight: 300;
  line-height: 150%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 20px;
}

.help-text{
  font-size: 1.2em;
  padding-top: 25px;
  color: @offWhite;
  font-weight: 300;
  line-height: 150%;
  padding-bottom: 30px;
  text-align: center;
}

.help-option-text{
  font-family: 'Simplifica', Arial, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.4em;
  color: @offWhite;
  font-weight: 300;
  padding-top:12px;
  line-height: 1.8em;
}

.help-icon{
  font-size: 3.8em !important;
  color: @offWhite !important;
  margin-bottom:15px !important;
}

.center-column{
  text-align: center !important;
}

#slant-container-2{
  z-index: 50;
  padding-top: 115px;
}

#left-angle-2 {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @purple;
  z-index:50;
  transform: rotate(355deg) scale(2.02) skew(355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#mid-2 {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  z-index:50;
}

#right-angle-2 {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @purple;
  z-index:50;
  //background-color: rgba(255, 0, 0, 0.3);
  transform: rotate(-355deg) scale(2.02) skew(-355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#blog-section{
  z-index: 50;
  background-color: @purple;
  margin-top: -20px;
  padding-bottom: 100px;
}

#text-block-2{
  z-index: 100;
  margin-top: -45px;
}

.topper{
  z-index: 100;
}

.read-more-icon{
  //font-size: 3.8em !important;
  color: @offWhite !important;
}

#button-text{
  color: @offWhite !important;
  font-weight: 300 !important;
}

.more-blog{
  text-align: center;
}

.ui.inverted.orange.buttons .button, .ui.inverted.orange.button {
  box-shadow: 0 0 0 1px @orange inset !important;
}

#slant-container-3{
  z-index: 50;
  margin-top: -25px;
}

#left-angle-3{
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @orange;
  z-index:50;
  transform: rotate(-355deg) scale(2.1) skew(-355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#mid-3{
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  z-index:50;
}

#right-angle-3 {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @orange;
  z-index:50;
  //background-color: rgba(255, 0, 0, 0.3);
  transform: rotate(355deg) scale(2.1) skew(355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#text-block-3{
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 50px;
}

.career-text{
  font-size: 1.2em;
}

#experience-section{
  z-index: 50;
  background-color: @orange;
  padding-bottom: 150px
}

#exp-body{
  padding-top: 25px;
}

.exp-header{
  font-family: 'Simplifica', Arial, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.4em;
  color: @offWhite;
  font-weight: 300;
  padding-top:12px;
  line-height: 1.8em;
}

.stack-icon{
  text-align: center;
  ;
}

.stack-text{
  font-family: 'Simplifica', Arial, sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: @offWhite;
  font-weight: 300;
}

#slant-container-4{
  z-index: 50;
  //padding-top: 115px;
}

#left-angle-4 {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @purple;
  z-index:50;
  transform: rotate(355deg) scale(2.02) skew(355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#mid-4 {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  z-index:50;
}

#right-angle-4 {
  max-height: 60px;
  min-height: 60px;
  margin-bottom: -30px;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  background-color: @purple;
  z-index:50;
  //background-color: rgba(255, 0, 0, 0.3);
  transform: rotate(-355deg) scale(2.02) skew(-355deg) translate(0px);
  overflow-x: hidden;
  max-width:100%
}

#text-block-4{
  z-index: 100;
  margin-top: -80px;
  padding-bottom: 50px;
}

#contact-section{
  z-index: 50;
  background-color: @purple;
  padding-bottom: 50px
}

#contact-body{
  padding-top: 25px;
}

.stack-icon{
  text-align: center;
  padding-bottom: 20px;
}

.ui.form input[type="text"]{
  color: @purple;
}

.ui.form textarea{
  color: @purple;
}

.ui.form .field>label{
  font-family: 'Simplifica', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: @offWhite;
  font-weight: 300;
}

.centered-vertically {
  justify-content:center;
  align-items:center;
}

#twitter{
  cursor: pointer;
  cursor: hand;
}

#linkedin{
  cursor: pointer;
  cursor: hand;
}

.twittersvgmain{
  height: 50px;
}

.linkedinsvgmain{
  height: 50px;
}


@media (max-width: 960px) {

  #text-block-1{
    padding-top: 0px;
    margin-top: -15px;
  }

  #text-block-2{
    margin-top: -15px;
  }
  #text-block-3{
    padding-top: 0px;
    margin-top: -15px;
    padding-bottom: 0px;
  }
  #text-block-4{
    margin-top: -45px;
  }

}

@media (max-width: 675px) {
  #header-text {
    font-size: 2.5em;
    //margin-top: -250px;
    width: 100%;
    height: 100vh;
  }

  .top-quote{
    font-size: 1.3em;
  }

  .help-text{
    font-size: 1.0em;
  }

  .help-option-text{
    font-size: 1.2em;
  }

  .content-header{
    font-size: 2.5em;
  }

}


@media (max-width: 530px) {
  #header-text {
    font-size: 2.0em;
    margin-top: -150px;
    width: 100%;
    height: 100vh;
  }

}

@media (max-width: 500px) {
  #header-text-thanks {
    font-size: 2.5em;
    margin-top: -250px;
    width: 100%;
    height: 100vh;
  }
}
